<html>
    <head>
        <title>Mu's blog</title>
    </head>
    <body>
        <div id="intro">
            <h1>Hi there</h1>
            <h3>It works!</h3>

            <p>This is <strong>mu</strong>'s test <em>finntastic</em> blog</p>
            <h1><a href="/">HOME</a></h1>
        </div>

        <div id="content">
            <p>Here you will find</p>
            <ul>
                <li>Fantastic content</li>
                <li>Great information</li>
                <li>Incredible insights</li>
            </ul>
        </div>

        {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
        {% endfor %}
        <div id="samplepost">
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>

        <footer>
            <p>Made thanks to
                <a href="https://djangogirls.org">django_girls</a>
            </p>
        </footer>
    </body>
</html>